// @use  'vendor/reset';
@use 'blocks/vars' as *;
// @use  "./vendor/animate";
@use 'fonts' as *;
@use 'settings' as *;
@use 'blocks/container' as *;
@use 'blocks/page' as *;
// @use 'blocks/header' as *;
// @use 'blocks/footer' as *;
@use 'blocks/start' as *;
@use 'blocks/hello' as *;
@use 'blocks/backtimer' as *;
@use 'blocks/round' as *;



html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  //  background-color: var(--accent-color);
}

.main {
  height: 100%;
  flex: 1 0 auto;
}

.vertical .section {
  width: calc(538 / $mobilever * 1vw);
  height: 1080px;
  margin: 0 auto;
}
.horizontal .section {
  width: calc(538 / $mobilehor * 1vh);
  height: 1080px;
  margin: 0 auto;
}

.section{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  // transform: translateY(20px);
  transition: all 0.5s ease;
  
  &.active {
    opacity: 1;
  }
}

.none{
  display: none !important;
}
/* Общая обёртка */
.slide-element {
  transition: margin-top 0.3s ease, opacity 0.3s ease;
  margin-top: 0;
  opacity: 1;
}

/* Скрытие */
.slide-hidden {
  margin-top: -100%;
  opacity: 0;
  pointer-events: none;
}


#coin-fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}
.coin-piece {
  position: absolute;
  animation: fly 2s ease-out forwards;
  will-change: transform, opacity;
}

.coin-piece.coin-fall {
  animation: fall 1.8s ease-in forwards;
}

@keyframes fly {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(0.5) rotate(720deg);
    opacity: 0;
  }
}

@keyframes fall {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    opacity: 1;
  }
  80% {
    transform: translate(var(--x), var(--y)) scale(1) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), calc(var(--y) + 100px)) scale(1) rotate(360deg);
    opacity: 1;
  }
}


.vertical .coin-piece{
  width: calc(80 / $mobilever * 1vw);
  height: calc(80 / $mobilever * 1vw);
}
.horizontal .coin-piece{
  width: calc(80 / $mobilehor * 1vh);
  height: calc(80 / $mobilehor * 1vh);
}
