// @use  'vendor/reset';
@use 'blocks/vars' as *;
// @use  "./vendor/animate";
@use 'fonts' as *;
@use 'settings' as *;
@use 'blocks/container' as *;
@use 'blocks/page' as *;
// @use 'blocks/header' as *;
// @use 'blocks/footer' as *;
@use 'blocks/start' as *;
@use 'blocks/hello' as *;
@use 'blocks/backtimer' as *;
@use 'blocks/round' as *;



html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  //  background-color: var(--accent-color);
}

.main {
  height: 100%;
  flex: 1 0 auto;
}

.vertical .section {
  width: calc(538 / $mobilever * 1vw);
  height: 1080px;
  margin: 0 auto;
}
.horizontal .section {
  width: calc(538 / $mobilehor * 1vh);
  height: 1080px;
  margin: 0 auto;
}

.section{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  // transform: translateY(20px);
  transition: all 0.5s ease;
  
  &.active {
    opacity: 1;
  }
}

.none{
  display: none !important;
}