@use 'blocks/vars' as *;

.backtimer_text {
    opacity: 0;
    transition: all 0.5s linear;
    display: flex;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    // &.hidden {
    //     margin-top: -100% !important;
    // }

    &.active {
        opacity: 1;
    }
    &.scale{
        transform: translateX(-50%) scale(60);
    }
}

.backtimer_count {
    transition: all 0.5s linear;
    position: relative;

    & .count-item.active {
        position: absolute;
        opacity: 1;
    }

    & .count-item {
        transition: all 0.5s linear;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);

        &.slide {
            transform: translateY(200vh);
        }
    }


    &.hide {
        opacity: 0;
    }

    &.slide-up {
        margin-top: -100% !important;
    }
}

.disperse {
    opacity: 1;
    transition: opacity 0.3s;

    & span {
        transition: transform 0.8s ease, opacity 0.8s ease;
        transform: translate(0, 0) rotate(0deg);
    }
}

.backtimer_text {
    position: absolute;
    z-index: 1;
}

.disperse.animate span {
    animation: disperseRandom 1.5s ease forwards;
    animation-delay: calc(var(--i) * 40ms);
}

@keyframes disperseRandom {
    to {
        transform: translate(var(--x), var(--y)) rotate(var(--r));
        opacity: 0;
    }
}

.vertical .backtimer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: calc(64 / $mobilever * 1vw) 0;


    & .start_logo_game {
        margin-left: auto;
        margin-right: auto;
        max-width: max-content;
    }

    & .start_logo img {
        width: calc(180 / $mobilever * 1vw);
        height: calc(80 / $mobilever * 1vw);
    }

    & .backtimer_count {
        font-family: var(--interface-bold);
        font-weight: 700;
        font-size: calc(384 / $mobilever * 1vw);
        letter-spacing: -0.02em;
        text-align: center;
        color: #141414;
        margin-top: calc(39 / $mobilever * 1vw);
    }

    & .backtimer_text {
        font-family: var(--interface-bold);
        font-weight: 700;
        font-size: calc(160 / $mobilever * 1vw);
        letter-spacing: -0.02em;
        text-align: center;
        color: #141414;
        // margin-top: calc(170 / $mobilever * 1vw);
    }
}

.horizontal .backtimer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: calc(64 / $mobilehor * 1vh) 0;


    & .start_logo_game {
        margin-left: auto;
        margin-right: auto;
        max-width: max-content;
    }

    & .start_logo img {
        width: calc(180 / $mobilehor * 1vh);
        height: calc(80 / $mobilehor * 1vh);
    }

    & .backtimer_count {
        font-family: var(--interface-bold);
        font-weight: 700;
        font-size: calc(384 / $mobilehor * 1vh);
        letter-spacing: -0.02em;
        text-align: center;
        color: #141414;
        margin-top: calc(39 / $mobilehor * 1vh);
    }

    & .backtimer_text {
        font-family: var(--interface-bold);
        font-weight: 700;
        font-size: calc(160 / $mobilehor * 1vh);
        letter-spacing: -0.02em;
        text-align: center;
        color: #141414;
        // margin-top: calc(170 / $mobilehor * 1vh);
    }
}