<meta charset="UTF-8">
<link href="https://db.onlinewebfonts.com/c/76d269035a3e23e40f0bba43207b562a?family=SB+Sans+Interface+Bold" rel="stylesheet" type="text/css"/>
<link href="https://db.onlinewebfonts.com/c/e43e38a2228e489498744966f4dbacbe?family=SB+Sans+Interface+Semibold" rel="stylesheet">
<link href="https://db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text" rel="stylesheet"> 
<link href="https://db.onlinewebfonts.com/c/cf8ad58acbe94cc96c1196fa2d336b14?family=SB+Sans+Text+Semibold" rel="stylesheet"> 

<link rel="stylesheet" href="assets/css/style.css">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>{{ title }}</title>


