<aside class="new_sidebar">
    <button class="aksii-banner__close">
		<svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path opacity="0.5" d="M1.65039 1.03418L8.32031 7.7041M8.32031 1.03418L1.65039 7.7041" stroke="white" stroke-width="1.33398" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
	</button>
    <div class="flex-column">
        <div class="img-wrap top">
            <img src="./assets/images/top1.png" alt="gift top" width="677" height="419" loading="lazy">
        </div>
        <div class="img-wrap center">
            <img src="./assets/images/Center.png" alt="main image" width="494" height="355">
        </div>
        <h2 class="new_sidebar_title"><span>Новый дом -</span>Новая глава в жизни</h2>
        <div class="img-wrap bottom">
            <img src="./assets/images/Desktop-bottom.png" alt="gift bottom" width="744" height="454">
        </div>
    </div>
</aside>